@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Kumar+One+Outline&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.hero {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/hearts2.jfif);
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.timeel,
.hero p {
  font-family: comfortaa;
  font-size: 4em;
  color: white;
}
.hero p {
  margin-top: 100px;
  font-weight: 700;
  font-size: 3em;
}

.hero h1 {
  font-family: poppins;
  font-size: 4em;
  color: white;
  margin-bottom: 50px;
  text-transform: uppercase;
}

a,
a:active,
a:visited {
  color: rgb(131, 197, 134);
  transition: 0.5s ease-in-out;
}

.up {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.down {
  margin-top: 150px;
  animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}

a:hover {
  color: white;
  cursor: pointer;
}

.note {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.note p {
  color: rgb(131, 197, 134);
  font-family: shadows into light two;
  font-size: 3em;
  letter-spacing: 2px;
}

.years,
.days,
.hours,
.minutes,
.seconds {
  margin-right: 50px;
}

.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
  margin-top: 100px;
  margin-left: 2%;
  margin-right: 2%;

  margin-bottom: 100px
}
.gallery img {
  max-width: 100%;
  box-shadow: 0 0 16px #000000;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #000000;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@media (min-width: 375px) {
  .timeel {
    font-size:2em;
}

.hero p {
    font-size:2em;

}

.note {
    height:175vh;
}

.note p {
    font-size: 2em;
}


}